<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    color: black;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
    color: #fe424d;
  }
  .filter p {
    font-size: 0.7rem;
  }
</style>

<div id="filters">
  <a href="/listings/category/Trending" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
  </a>
  <a href="/listings/category/Rooms" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
  </a>
  <a href="/listings/category/Iconic Cities" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div></a
  >
  <a href="/listings/category/Castle" class="listing-link">
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
  </a>
  <a href="/listings/category/Beach" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Beach</p>
    </div>
  </a>
  <a href="/listings/category/Camping" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
  </a>
  <a href="/listings/category/Farms" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
  </a>
  <a href="/listings/category/Arctic" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-igloo"></i></div>
      <p>Arctic</p>
    </div>
  </a>
  <a href="/listings/category/Miscellaneous" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-ellipsis"></i></div>
      <p>Miscellaneous</p>
    </div>
  </a>
</div>
