<% layout("/layouts/boilerplate.ejs") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.7rem;
  }
</style>

<div id="filters">
  <a href="/listings/category/Trending" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
  </a>
  <a href="/listings/category/Rooms" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
  </a>
  <a href="/listings/category/Iconic Cities" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div></a
  >
  <a href="/listings/category/Castle" class="listing-link">
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
  </a>
  <a href="/listings/category/Beach" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Beach</p>
    </div>
  </a>
  <a href="/listings/category/Camping" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
  </a>
  <a href="/listings/category/Farms" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
  </a>
  <a href="/listings/category/Arctic" class="listing-link">
    <div class="filter">
      <div><i class="fa-solid fa-igloo"></i></div>
      <p>Arctic</p>
    </div>
  </a>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListing) {%>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title %> <br /></b>

          &#8377;<%= listing.price.toLocaleString("en-IN")%>/night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
